<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My projects</title>
  </head>
  <body>
    {{> header}}
    <h1> {{pageTitle}} </h1>
    <p>{{pageData}}</p>
  </body>
  {{> footer}}
</html>
