<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
    {{> header}}
    <h1> Hello welcome to mysite  </h1>
    <p> I like reading, drawing, playing with thammu</p>
  </body>
{{> footer}}
</html>
